/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdfdfd;
}

body > .wrapper {
  height: 100%;
}

strong, b,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  font-weight: 700;
}

a         { color: #eee; text-decoration: none; }
a:hover   { color: #eee; text-decoration: underline; }
a:visited { color: #eee; }

p {
  line-height: 1.8em;
  margin: 0 0 1em;
}

.emoji {
  width: 20px;
  height: 20px;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Twitter Bootstrap Overwrite */

#top {
  border-radius: 0;
  margin-bottom: 0;
}

#top .container {
  border-bottom: 1px solid #ddd;
}

#top .navbar-brand {
  padding: 10px 15px;
  line-height: 1.3em;
  font-size: 30px;
  font-weight: 700;
  height: auto;
}

#intro {
  /*margin-top: -50px;*/
  height: 100%;
  text-align: center;
}

.intro-content {
  padding-top: 20%;
}

video#intro-video {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: #eee no-repeat;
  background-size: cover;
}

.intro-content a,
.intro-content a:hover {
  color: #eee;
  text-decoration: none;
}

body > footer {
  margin-top: -59px;
}

footer .container {
  border-top: 1px solid #ddd;
}

footer p {
  margin: 0;
  padding: 15px 0;
  width: 50%;
  float: left;
  color: #eee !important;
}

footer .foot-nav {
  text-align: right;
}

footer .foot-nav a {
  padding-left: 20px;
}


/* Top Navigation styles */
/* ----------------------------------------------------------*/

#top .navbar-nav > li > a {
  padding: 20px;
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-header {
  padding: 30px 0;
  margin: 0 0 30px;
  border-bottom: 1px solid #ddd;
}

.page-header > * {
  margin: 0;
}

.page-header .page-title {
  font-size: 42px;
}

.page-header .meta {
  font-size: 13px;
  color: #818181;
}

.page-content { padding: 0 0 30px; }

.page-content > * {
  display: block;
  margin: 0 0 1em;
  width: 100%;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  margin: 40px 0 20px;
}

.page-content h2 {
  font-size: 32px;
}

.page-content h3 {
  font-size: 26px;
}

.page-content h4 {
  font-size: 20px;
}

.page-content blockquote {
  opacity: .8;
  font-style: italic;
  font-size: 24px;
}

.page-content blockquote p {
  line-height: 1.4em;
}

.page-content ul,
.page-content ol { padding-left: 20px; }


/* Blog styles */
/* ----------------------------------------------------------*/

.blog .hentry {
  display: table;
  margin: 0 0 20px;
}

.blog .hentry > * {
  display: table-cell;
}

.blog .hentry .meta {
  width: 120px;
  font-size: 13px;
  color: #818181;
  text-align: right;
  padding-right: 20px;
}

.blog .hentry .entry-title {
  width: 700px;
  font-weight: 700;
  font-size: 32px;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; padding: 0; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.highlight .c { color: #999; } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #999; } /* Comment.Multiline */ /* Edited to remove italics and make into comment */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #999; } /* Comment.Single */
.highlight .cs { color: #999; } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #003300; } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; } /* Keyword.Constant */
.highlight .kd { color: #006699; } /* Keyword.Declaration */
.highlight .kn { color: #006699; } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; } /* Keyword.Reserved */
.highlight .kt { color: #007788; } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #d44950 } /* Literal.String */
.highlight .na { color: #4f9fcf } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; } /* Name.Entity */
.highlight .ne { color: #CC0000; } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; } /* Name.Namespace */
.highlight .nt { color: #2f6f9f; } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */

.highlight .css .o,
.highlight .css .o + .nt,
.highlight .css .nt + .nt { color: #999; }


/* media queries */
/* ----------------------------------------------------------*/

