# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Generic
Thumbs.db
Desktop.ini
.DS_Store
._
*.cache
*.log
*.old
*.zip
*.pem
*~

# Developments
# --------------------------
.env.*
.env
dist
node_modules

# But Keep these
# --------------------------
!.gitkeep
