# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*~

# distribution
dist

# IDE Project Configurations
# --------------------------
.idea
.project
.settings
.zed
*.sublime-*

# AI Agents
# --------------------------
.agents
.agent-rules.md
.antigravitycli
.augment
.cursor
.gemini
.github/copilot-instructions.md
conductor
CLAUDE.md
GEMINI.md
opencode.json

# Developments
# --------------------------
.env.*
.env
.vite-ssg-temp
.tool-versions
node_modules
src/auto-imports.d.ts
src/components.d.ts
src/route-map.d.ts

# But Keep these
# --------------------------
!.env.*.example
!.env.example
!.gitkeep
