<footer>
  <div class="container">
    <p class="copy text-muted float-left">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.title }}</p>
    <p class="foot-nav text-muted float-right">
      <a href="{{ site.email | prepend: 'mailto:' }}">Contact</a>
      <a href="{{ site.twitter_user | prepend: 'http://twitter.com/' }}">Tweet</a>
    </p>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.2/js/mediaelement-and-player.min.js"></script>
<script src="/asset/js/script.js"></script>
{% if site.google_analytics_tracking_id %}<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>{% endif %}
