@import '@fontsource/nunito/latin-400.css';
@import '@fontsource/nunito/latin-400-italic.css';
@import '@fontsource/nunito/latin-700.css';
@import '@fontsource/nunito/latin-700-italic.css';
@import '@fontsource/work-sans/latin-300.css';
@import '@fontsource/work-sans/latin-300-italic.css';
@import '@fontsource/work-sans/latin-700.css';
@import '@fontsource/work-sans/latin-700-italic.css';

@import 'tailwindcss' source('.');
@source inline('max-w-none');

@theme {
  --default-font-family: 'Nunito';
  --font-heading: 'Work Sans', sans-serif;

  --color-primary: #388370;
  --color-primary-light-1: #b9c6c3;
  --color-primary-light-2: #bfbfbf;
  --color-secondary: #839f98;
}
